.character-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-op-20);
  overflow-y: auto;
}

.character-detail__content {
  width: 400px;
  min-height: 250px;
  border: 2px solid var(--primary-color-darken);
  background-color: white;
  margin: 25px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 25px 10px;
}

.character-detail__pic {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-bottom: 25px;
}

.character-detail__name {
  font-size: 32px;
  margin-bottom: 25px;
  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
}

.character-detail__close-button {
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  padding: 3px 15px;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid transparent;
  text-transform: uppercase;
}

.character-detail__close-button:hover {
  border-bottom-color: var(--primary-color);
}

.character-detail__medias-header {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  padding: 5px 0;
  text-align: center;
}

.character-detail__empty-media {
  color: var(--dark-text-color);
  padding: 20px 0;
  text-align: center;
}

.character-detail__medias {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow-y: auto;
}

.character-detail__media-row {
  width: 100%;
  color: var(--primary-color);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 3px solid var(--primary-color-op-20);
}

.character-detail__media-name {
  display: inline-block;
}

.character-detail__media-pic {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .character-detail__content {
    width: 100%;
    border: none;
    margin: 0;
    padding: 25px 0 10px;
    min-height: 100%;
  }

  .character-detail__name {
    padding-left: 10px;
    padding-right: 10px;
  }

  .character-detail__media-row {
    padding: 10px 5px;
  }

  .character-detail__medias {
    max-height: unset;
  }

  .character-detail__media-pic {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }
}